body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.container {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 600px;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

h2 {
    text-align: center;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input, select, button {
  padding: 10px;
  font-size: 16px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#result {
  text-align: center;
  margin-top: 20px;
}

#converted-value {
  font-size: 18px;
  font-weight: bold;
}

#original-value {
  font-size: 16px;
  color: #666;
}

#loading {
  text-align: center;
  margin-top: 20px;
  color: #0077cc;
  font-size: 16px;
}
